html,
body {
  background: #c3f4f1;
  color: #000;
  font-family: sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  align-items: center;
  display: flex;
  flex-flow: row;
  font-size: 18px;
  line-height: 1.2;
}

header {
  display: flex;
  flex-flow: row;
  margin: 0 auto;
  padding: 0;
  position: relative;
  width: 50%;
}

header .logo {
  background: url(logo.svg) 100% 50% no-repeat;
  background-size: contain;
  display: block;
  height: auto;
  width: calc(50% - 45px);
}

header .contact {
  border-left: 1px solid #000;
  padding-left: 55px;
  margin: 2px 0 2px 45px;
  width: 50%;
}

header h1 {
  font-weight: bold;
  font-size: 24px;
  line-height: 1;
  margin: 0 0 40px;
}

header h1 span {
  font-weight: normal;
}

header p {
  margin: 0;
}

header a {
  color: #000;
  text-decoration: none;
}

header a[class="email"]:hover,
header a[class="email"]:active {
  color: #000;
  text-decoration: underline;
}
