@font-face {
  font-family: teepee-icons;
  src: url(../fonts/teepee-icons.woff) format("woff");
  font-weight: 400;
  font-style: normal
}

[class*=" icon-"], [class^=icon-] {
  font-family: teepee-icons!important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.icon-logo:before {
  content: "\E900"
}

.icon-menu:before {
  content: "\E901"
}

.icon-logo-facebook:before {
  content: "\E910"
}

.icon-logo-linkedin:before {
  content: "\E911"
}

.icon-logo-twitter:before {
  content: "\E912"
}

html,
body {
  background: #c3f4f1;
  color: #555;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  font-size: 16px;
  line-height: 1.7;
}

.site {
  margin: auto;
  width: 100%;
}

header {
  margin: 0 auto;
  padding: 20px 0 0;
  position: relative;
  width: 80%;
  min-width: 10em;
}

header .logo {
  background: url(../images/logo.svg) 50% 50% no-repeat;
  background-size: contain;
  display: block;
  height: 20vh;
  margin: 0 auto 20px;
  max-height: 122px;
  width: 70%;
}

header .contact {
  text-align: center;
}

header h1 {
  color: #000;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.3;
  margin: 0 0 30px;
}

header h1 span {
  display: block;
  font-weight: normal;
}

header p {
  margin: 0;
}

header a {
  color: #555;
  display: block;
  text-decoration: none;
}

header a[class="email"]:hover,
header a[class="email"]:active {
  color: #555;
  text-decoration: underline;
}

footer {
  margin: 30px 0 20px;
  text-align: center;
}

footer .social {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer .social li {
  display: inline-block;
  font-size: 20px;
  height: 28px;
  line-height: 28px;
  margin: 0 8px;
  position: relative;
  width: 28px;
}

footer .social a {
  border: 3px solid;
  border-radius: 50%;
  color: #091722;
  display: inline-block;
  height: 100%;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

footer .social .title {
  font-size: 10px;
  left: 0;
  position: absolute;
  visibility: hidden;
}

footer .ps {
  margin: 40px auto 0;
  max-width: 28em;
  padding: 0 1em;
  text-align: center;
}

footer .ps p {
  margin: 0 0 12px;
}

footer .ps a {
  color: #000;
  text-decoration: none;
}

/* Anything as wide as landscape iPhone 5 */
@media print, screen and (min-width: 568px) {
  body {
    align-items: center;
    display: flex;
    flex-flow: column;
    line-height: 1.2;
  }

  header {
    display: flex;
    flex-flow: row;
    margin: 20px auto 0;
    max-width: 68em;
    padding: 0;
    position: relative;
    width: 90%;
  }

  header h1 {
    line-height: 1;
    margin-bottom: 25px;
  }

  header .logo {
    background-position: 100% 50%;
    height: auto;
    margin: 0;
    max-height: 300px;
    width: calc(50% - 45px);
  }

  header .contact {
    border-left: 1px solid #000;
    padding-left: 55px;
    margin: 2px 0 2px 45px;
    text-align: left;
    width: 50%;
  }

  header h1 span {
    display: inline;
  }

  footer {
    margin-top: 45px;
  }

  footer .ps {
    margin-top: 45px;
  }
}

/* Portrait iPad and greater */
@media print, screen and (min-width: 768px) {
  header h1 {
    margin-bottom: 45px;
  }

  footer {
    margin-top: 65px;
  }

  footer .ps {
    margin-top: 65px;
  }
}
