.curtain-blur {
  filter: blur(0);
  transition: filter ease-in-out 500ms;

  .show-curtain & {
    filter: blur(2px);
    height: 100%;
    overflow: hidden;
    position: fixed;
    width: 100%;
  }
}

.curtain-modal {
  opacity: 0;
  transition: opacity ease-in-out 500ms;

  .show-curtain & {
    opacity: 1;
  }

  &::before {
    background: rgba(255, 255, 255, 0.7);
    content: "";
    display: none;
    height: 100%;
    position: fixed;
    width: 100%;

    .show-curtain & {
      display: block;
    }
  }

  $border-width: 8px;
  $half-border: $border-width/2;
  .modal {
    background: #d6f7f9;
    color: white;
    left: 50%;
    max-width: 800px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -30%);
    transition: transform ease-in-out 500ms;
    width: 90%;
    z-index: 5;

    .show-curtain & {
      transform: translate(-50%, -50%);
    }

    &::after {
      border: $border-width dotted $black;
      content: "";
      height: calc(100% - #{$border-width});
      left: -$half-border;
      pointer-events: none;
      position: absolute;
      top: -$half-border;
      width: calc(100% - #{$border-width});
    }
  }
  .modal-contents {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;

    @include breakpoint(md) {
      flex-direction: row;
    }

    .illustration {
      background: center / cover no-repeat url("../assets/images/curtain.jpg");
      flex-shrink: 0;
      height: 250px;

      @include breakpoint(md) {
        height: unset;
        width: 48%;
      }
    }

    .copy {
      color: $black;
      font-size: 20px;
      font-weight: $weight-light;
      text-align: center;
      letter-spacing: 0.2px;
      padding: 30px;

      @include breakpoint(md) {
        font-size: 25px;
        height: unset;
        padding: 40px;
        width: 52%;
      }
    }

    h1 {
      font-size: 23px;
      font-weight: $weight-bold;
      margin-bottom: 18px;
      text-transform: uppercase;

      @include breakpoint(md) {
        font-size: 28px;
        margin-bottom: 26px;
      }
    }
    p {
      margin-bottom: 18px;

      @include breakpoint(md) {
        margin-bottom: 25px;
      }
    }
    .cocoon-brand {
      font-weight: $weight-bold;
    }
    .cocoon-link {
      background: $white;
      border: 1px solid;
      color: $black;
      display: block;
      font-size: 32px;
      font-weight: $weight-bold;
      position: relative;
      text-decoration: none;
      width: 100%;

      @include breakpoint(md) {
        font-size: 40px;
      }

      &::after {
        content: "";
        display: inline-block;
      }

      .offset {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -42%);
      }
    }
  }
}
