header {
  background-color: transparentize($dark-grey, .05);
  border-bottom: 1px solid transparentize($white, .3);
  height: $header-height;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 2;

  .header-content {
    align-items: center;
    display: flex;
    height: $header-height;
    justify-content: flex-end;
  }

  .brand {
    @extend .col-xs-8;
    @extend .col-md-6;

    $font-size: 22px;

    color: $white;
    font-size: $font-size;
    font-weight: $weight-light;
    height: $nav-height;
    left: 0;
    line-height: $nav-height;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;

    a {
      text-decoration: none;
    }

    .icon-logo {
      float: left;
      font-size: 44px;
      line-height: $nav-height;
      position: absolute;
    }

    .company {
      font-weight: $weight-regular;
      white-space: nowrap;
    }

    .company {
      display: block;
      padding-left: 64px;
    }

    @include breakpoint(sm) {
      align-items: center;
      display: flex;
      font-size: 32px;
      line-height: $nav-height;

      .icon-logo {
        font-size: $nav-height;
        position: relative;
      }

      .company {
        display: inline-block;
        padding-left: 15px;
        padding-top: 0;
      }
    }

    @include breakpoint(md) {
      left: 0;
      padding-right: 0;
      position: relative;
      top: auto;
      transform: translateY(0);
    }
  }
}
