.home-hero {
  @extend .col-xs-12;

  padding-bottom: 10px;
  position: relative;

  img {
    display: block;
    width: 100%;
  }

  q {
    display: block;
    font-size: 41px;
    line-height: 50px;
    word-spacing: -3px;
  }

  cite {
    display: block;
    font-weight: $weight-light;
    font-size: 24px;
    line-height: 28px;
    margin-top: 15px;
  }

  figcaption {
    position: absolute;
  }

  &-1 figcaption {
    left: 51px;
    top: 192px;
    width: 300px;
  }

  &-2 figcaption {
    left: 100px;
    text-align: center;
    top: 30px;
    width: 760px;

    q {
      letter-spacing: -1px;
    }
  }
}
