.home-contact {
  @extend .col-xs-12;

  margin: 0 10px;
  text-shadow: 1px 1px 1px transparentize($black, .85);

  .content {
    @extend .row;
  }

  .content-group {
    @extend .col-xs-12;
    @extend .col-sm-7;
    @extend .col-md-8;
    @extend .col-lg-9;
    @extend .row;

    background: url('../assets/images/home-matt-plummer.jpg') 15% -10px no-repeat;
    background-size: cover;
    margin: 0;
  }

  .reason {
    @extend .col-xs-12;
    @extend .col-md-6;
    @extend .col-lg-8;

    font-size: 30px;
    line-height: 40px;
    padding: 230px 15px 0;
    text-align: left;
    word-spacing: -3px;
  }

  .intro {
    @extend .col-xs-12;
    @extend .col-md-6;
    @extend .col-lg-4;

    font-size: 16px;
    font-weight: $weight-light;
    letter-spacing: 0.5px;
    line-height: 20px;
    padding-bottom: 30px;
    padding-top: 30px;
    word-spacing: -2px;

    p:not(:last-of-type) {
      margin-bottom: 16px;
    }
  }

  .contact-form {
    @extend .col-xs-12;
    @extend .col-sm-5;
    @extend .col-md-4;
    @extend .col-lg-3;
  }

  @include breakpoint(sm) {
    .content {
      background: url('../assets/images/home-matt-plummer.jpg') 10% 0 no-repeat;
      background-size: cover;
    }

    .content-group {
      background: none;
    }

    .reason {
      font-size: 34px;
      line-height: 42px;
      padding: 200px 20px 30px;
    }

    .intro {
      padding-top: 0;
      padding-bottom: 10px;
    }

    .contact-form {
      background: none;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }

    textarea {
      height: 300px;
    }
  }

  @include breakpoint(md) {
    .reason {
      padding: 260px 10px 0;
      text-align: center;
    }

    .intro {
      padding-top: 40px;
    }

    .contact-form {
      justify-content: flex-start;
      padding-top: 40px;
    }
  }

  @include breakpoint(lg) {
    background-position: left top;

    .reason {
      font-size: 41px;
      line-height: 50px;
      padding: 396px 30px 0;
    }

    .intro {
      font-size: 15px;
      padding-top: 40px;
    }

    .contact-form {
      font-size: 15px;
      padding-bottom: 30px;
      padding-top: 40px;
    }

    textarea {
      height: 300px;
    }
  }
}
