.home-why {
  @extend .col-xs-12;

  font-size: 15px;
  margin: 0 10px;
  text-shadow: 1px 1px 1px transparentize($black, .85);

  .content {
    @extend .row;
  }

  .why-teepee {
    @extend .col-xs-12;
    @extend .col-md-6;
    @extend .row;

    background: $very-dark-grey;
    font-weight: $weight-light;
    margin: 0;
    padding: 20px 10px;

    .content-group {
      @extend .col-xs-12;
      @extend .col-sm-6;
      @extend .col-md-12;
    }

    h1 {
      font-size: 36px;
      font-weight: $weight-regular;
      margin-bottom: 10px;
      word-spacing: -4px;
    }

    p {
      font-size: 15px;
      letter-spacing: 0;
      line-height: 19px;
      margin-bottom: 18px;
      word-spacing: -1px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    img {
      display: block;
      margin: 0 auto;
      max-width: 300px;
      width: 80%;
    }
  }

  .why-work {
    @extend .col-xs-12;
    @extend .col-md-6;

    background: url('../assets/images/home-rendering.jpg') center center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    justify-content: flex-end;
    line-height: 19px;
    margin-top: 10px;
    padding: 400px 30px 14px 14px;

    q {
      font-weight: $weight-regular;
      max-width: 395px;
      word-spacing: 1px;
    }

    cite {
      font-weight: $weight-light;
      letter-spacing: -.5px;
      word-spacing: -1px;
    }
  }

  @include breakpoint(sm) {
    .why-teepee img {
      width: 100%;
    }
  }

  @include breakpoint(md) {
    .why-teepee {
      padding: 20px 10px;

      p {
        max-width: 270px;
      }

      img {
        margin: 25px 0 0;
        max-width: 260px;
        width: 80%;
      }
    }

    .why-work {
      margin-top: 0px;
      padding: 14px 30px 14px 14px;
    }
  }
}
