.home-contact {
  @extend .col-xs-12;

  margin: 0 10px;
  text-shadow: 1px 1px 1px transparentize($black, .85);

  .content {
    @extend .row;
  }

  .content-group {
    @extend .col-xs-12;
    @extend .col-sm-7;
    @extend .col-md-8;
    @extend .col-lg-9;
    @extend .row;

    background: url('../assets/images/home-matt-plummer.jpg') 15% -10px no-repeat;
    background-size: cover;
    margin: 0;
  }

  .reason {
    @extend .col-xs-12;
    @extend .col-md-6;
    @extend .col-lg-8;

    font-size: 30px;
    line-height: 40px;
    padding: 230px 15px 0;
    text-align: left;
    word-spacing: -3px;
  }

  .intro {
    @extend .col-xs-12;
    @extend .col-md-6;
    @extend .col-lg-4;

    font-size: 16px;
    font-weight: $weight-light;
    letter-spacing: 0.5px;
    line-height: 20px;
    padding-bottom: 30px;
    padding-top: 30px;
    word-spacing: -2px;

    p:not(:last-of-type) {
      margin-bottom: 16px;
    }
  }

  .form {
    @extend .col-xs-12;
    @extend .col-sm-5;
    @extend .col-md-4;
    @extend .col-lg-3;

    background: $very-dark-grey;
    font-size: 16px;
    font-weight: $weight-regular;
    letter-spacing: 0;
    line-height: 20px;
    padding-bottom: 10px;
    padding-top: 20px;
    position: relative;
    word-spacing: -2px;

    .message {
      align-items: center;
      background: transparentize($white, .2);
      display: none;
      height: 100%;
      justify-content: center;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }

    &.sending,
    &.sent,
    &.error {
      .message {
        display: flex;
      }
    }

    &.sending .sending,
    &.sent .sent,
    &.error .error {
      display: block;
      padding: 40px 20px;
    }
  }

  .message {
    .sending {
      color: transparentize($black, .2);
      display: none;
      font-size: 19px;
      line-height: 26px;
    }

    .sent {
      color: $black;
      display: none;
      font-size: 24px;
      line-height: 32px;
    }

    .error {
      color: $black;
      display: none;
      font-size: 19px;
      line-height: 26px;

      a {
        color: $black;
      }
    }
  }

  fieldset {
    margin-top: 20px;
    position: relative;
    width: 100%;

    .actions {
      margin: 0;
    }

    &:last-of-type {
      margin: 0;
    }
  }

  label {
    position: absolute;
    top: -2000px;
    visibility: hidden;
  }

  input,
  textarea {
    width: calc(100% - 6px - 18px);
    background: transparent;
    border: 3px solid $white;
    color: $white;
    font-size: 16px;
    font-weight: $weight-light;
    line-height: 30px;
    padding: 6px 9px;

    &::-webkit-input-placeholder {
      color: transparentize($white, .2);
    }
  }

  textarea {
    height: 260px;
    line-height: 24px;
    padding-bottom: 26px;
    resize: none;
  }

  input {
    height: 30px;

    &[type='submit'] {
      position: absolute;
      visibility: hidden;
    }
  }

  button.submit {
    background: transparent;
    border: 0;
    color: $white;
    cursor: pointer;
    display: block;
    font-size: 18px;
    font-weight: $weight-light;
    height: 30px;
    padding: 6px 12px;
    position: absolute;
    right: 3px;
    top: -40px;
    width: auto;
  }

  @include breakpoint(sm) {
    .content {
      background: url('../assets/images/home-matt-plummer.jpg') 10% 0 no-repeat;
      background-size: cover;
    }

    .content-group {
      background: none;
    }

    .reason {
      font-size: 34px;
      line-height: 42px;
      padding: 200px 20px 30px;
    }

    .intro {
      padding-top: 0;
      padding-bottom: 10px;
    }

    .form {
      background: none;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }

    textarea {
      height: 300px;
    }
  }

  @include breakpoint(md) {
    .reason {
      padding: 260px 10px 0;
      text-align: center;
    }

    .intro {
      padding-top: 40px;
    }

    .form {
      justify-content: flex-start;
      padding-top: 40px;
    }
  }

  @include breakpoint(lg) {
    background-position: left top;

    .reason {
      font-size: 41px;
      line-height: 50px;
      padding: 396px 30px 0;
    }

    .intro {
      font-size: 15px;
      padding-top: 40px;
    }

    .form {
      font-size: 15px;
      padding-bottom: 30px;
      padding-top: 40px;
    }

    textarea {
      height: 300px;
    }
  }
}
