.home-hero {
  @extend .col-xs-12;

  text-shadow: 1px 1px 1px transparentize($black, .85);

  img {
    display: none;
  }

  q {
    display: block;
    font-size: 38px;
    line-height: 46px;
    word-spacing: -2px;
  }

  cite {
    display: block;
    font-weight: $weight-light;
    font-size: 22px;
    line-height: 26px;
    margin-top: 15px;
  }

  figure {
    background-position: center;
    background-size: cover;

    &::before {
      background: transparentize($black, .9);
      content: '';
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  figcaption {
    position: relative;
  }

  &-1 {
    figure {
      background-image: url('../assets/images/home-hero-1.jpg');
    }

    figcaption {
      padding: 20% 0% 10% 20px;
      width: 250px;
    }
  }

  &-2 {
    figure {
      background-image: url('../assets/images/home-hero-2.jpg');
    }

    figcaption {
      padding: 20% 0% 10% 20px;
      width: 250px;

      q {
        letter-spacing: -1px;
      }
    }
  }

  @include breakpoint(sm) {
    &-1 {
      figcaption {
        padding: 20% 0% 10% 5%;
        width: 54%;
      }
    }

    &-1 {
      figcaption {
        padding: 20% 0% 10% 5%;
        width: 54%;
      }
    }
  }

  @include breakpoint(md) {
    img {
      display: block;
      width: 100%;
    }

    q {
      font-size: 41px;
      line-height: 50px;
      word-spacing: -3px;
    }

    cite {
      font-size: 24px;
      line-height: 28px;
      margin-top: 15px;
    }

    figure {
      background: none;

      &::before {
        display: none;
      }
    }

    figcaption {
      padding: 0;
      position: absolute;
    }

    &-1 {
      figcaption {
        left: 5%;
        top: 30%;
        width: 300px;
      }
    }

    &-2 {
      figcaption {
        left: 10%;
        text-align: center;
        top: 30px;
        width: 79%;
      }
    }
  }
}
