.introduction {
  @extend .wrapper;

  padding-top: 10px;

  h1 {
    font-size: 28px;
    font-weight: $weight-regular;
    line-height: 35px;
  }

  .description {
    @extend .row;

    font-size: 14px;
    font-weight: $weight-light;
    line-height: 1.3;

    .col {
      @extend .col-xs-12;
      @extend .col-md-4;

      margin-bottom: 24px;
    }

    li {
      padding: 2px 0;

      &::before {
        content: "\2022";
        padding-right: 6px;
      }
    }

    .brand {
      font-weight: $weight-regular;
      white-space: nowrap;
    }
  }

    @include breakpoint(sm) {
      h1 {
        font-size: 31px;
        line-height: 37px;
      }

      .description {
        font-size: 15px;
      }
    }

    @include breakpoint(md) {
      h1 {
        font-size: 34px;
        line-height: 40px;
      }

      .description {
        font-size: 16px;
      }
    }

    @include breakpoint(lg) {
      h1 {
        font-size: 36px;
        line-height: 42px;
      }

      .description {
        font-size: 17px;
      }
    }
}
