.navigation {
  @extend .col-xs-12;
  @extend .col-md-6;

  $menu-items: 4;
  $mobile-menu-padding: 8px;

  display: flex;
  font-weight: $weight-light;
  height: 100%;
  justify-content: flex-end;
  letter-spacing: 0;
  line-height: 1.25;
  position: relative;
  text-align: right;
  z-index: 1;

  .mobile-nav-trigger {
    @extend .hide-for-md;

    appearance: none;
    background: none;
    border: none;
    color: $white;
    font-size: 20px;
    font-weight: $weight-light;
    height: 100%;
    line-height: 1;
    outline: none;
    padding: 0;
    text-align: right;
    white-space: nowrap;

    i {
      padding-left: 8px;
    }
  }

  ul {
    font-size: 20px;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    right: 0;
    top: calc(100% + 1px);
    width: 100%;

    &.open {
      max-height: ($menu-items * 33px) + ($mobile-menu-padding * 2);
      opacity: 1;
    }

    &.open,
    &.closing {
      background: transparentize($dark-grey, .05);
      border-bottom: 1px solid transparentize($white, .3);
      display: block;
      padding: $mobile-menu-padding 0;
      transition: max-height 240ms ease-in-out, opacity 270ms ease-in-out;
    }
  }

  li {
    display: block;
    margin: 0;
  }

  a {
    color: $mid-grey;
    display: block;
    padding: 6px 10px;
    text-decoration: none;
    transition: color 200ms ease-in-out;

    &.active {
      color: $white;
    }

    &:hover {
      color: $white;
    }
  }


  @include breakpoint(sm) {
    .mobile-nav-trigger {
      font-size: 22px;
    }

    ul {
      font-size: 22px;

      &.open {
        max-height: ($menu-items * 35px) + ($mobile-menu-padding * 2);
      }
    }
  }

  @include breakpoint(md) {
    display: block;
    height: $nav-height;
    padding-left: 0;

    ul {
      align-items: center;
      display: flex;
      font-size: 22px;
      height: $nav-height;
      justify-content: flex-end;
      max-height: $nav-height;
      opacity: 1;
      position: relative;
      right: auto;
      top: 0;

      &.open,
      &.closing {
        background: transparent;
        border-width: 0;
        padding: 0;
      }
    }

    li {
      display: inline-block;
      height: $nav-height;
      margin: 0 0 0 18px;

      &:first-of-type {
        margin: 0;
      }
    }

    a {
      line-height: $nav-height;
      padding: 0;
    }
  }

  @include breakpoint(lg) {
    font-size: 19px;

    li {
      margin-left: 18px;
    }
  }
}
