.social-links {
  $logo-size: 30px;

  display: block;
  padding-bottom: 30px;

  li {
    display: inline-block;
    position: relative;

    &:not(:last-of-type) {
      margin-right: 12px;
    }
  }

  a {
    border: 2.5px solid;
    border-radius: 50%;
    color: $white;
    display: inline-block;
    font-size: 18px;
    line-height: $logo-size;
    text-align: center;
    text-decoration: none;
    width: $logo-size;
  }

  .linkedin a {
    line-height: $logo-size - 2;
    width: $logo-size - 2;
  }

  .facebook a {
    font-size: 19px;
  }

  .twitter a {
    font-size: 20px;
  }

  .title {
    font-size: 10px;
    left: 0;
    position: absolute;
    visibility: hidden;
  }
}
