.page-approach {
  @extend .wrapper;

  h1 {
    @extend .row;

    font-size: 42px;
    letter-spacing: -1.5px;
    line-height: 48px;
    margin: 0 10px;
    padding-top: 18px;
    padding-bottom: 14px;
    word-spacing: -2px;
  }

  .content {
    @extend .row;

    margin: 0;
  }

  section {
    @extend .row;

    margin: 0;
    width: 100%;

    &:not(:first-of-type) {
      margin-top: 40px;
    }

    &.intro .copy {
      padding-bottom: 6px;
    }
  }

  .copy {
    @extend .col-xs-12;
    @extend .col-sm-6;

    h2 {
      font-size: 35px;
      margin-bottom: 10px;
    }

    p {
      font-size: 16px;
      font-weight: $weight-light;
      letter-spacing: -.5px;
      line-height: 19px;
      margin-bottom: 20px;
      max-width: 300px;
      word-spacing: -1px;
    }

    a {
      text-decoration: none;
      font-weight: $weight-regular;
    }
  }

  .illustration {
    @extend .col-xs-12;
    @extend .col-sm-6;

    img {
      width: 100%;
    }
  }

  @include breakpoint(sm) {
    section:not(:first-of-type) {
      margin-top: 20px;
    }

    .illustration {
      padding-left: 0;
    }
  }

  @include breakpoint(md) {
    section:not(:first-of-type) {
      margin-top: 0;
    }
  }
}
