.page-project-list {
  @extend .wrapper;

  h1 {
    @extend .row;

    font-size: 42px;
    letter-spacing: -1.5px;
    line-height: 48px;
    margin: 0 10px;
    padding-top: 18px;
    padding-bottom: 14px;
    word-spacing: -2px;
  }

  .content {
    @extend .row;

    margin: 0;
  }

  .projects {
    @extend .row;

    margin: 0 0 48px;
    width: 100%;
  }

  h2 {
    @extend .row;

    font-size: 24px;
    letter-spacing: -1px;
    line-height: 32px;
    margin: 0 10px 8px;
    word-spacing: -1px;
  }

  @include breakpoint(sm) {
  }

  @include breakpoint(md) {
  }
}
