header {
  background: linear-gradient(to bottom, #{transparentize($aqua, 0)} 0%, #{transparentize($aqua, 0)} 75%, #{transparentize($aqua, 1)} 100%);
  height: 100px;
  left: 0;
  padding: 0 $outer-margin;
  position: fixed;
  right: 0;

  .header-content {
    align-items: center;
    display: flex;
    height: 100px;
    justify-content: flex-end;
  }

  .brand {
    @extend .col-xs-9;
    @extend .col-md-5;

    font-size: 20px;
    font-weight: $weight-light;
    height: $nav-height;
    left: 15px;
    letter-spacing: -1px;
    line-height: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    a {
      color: $near-black;
      text-decoration: none;
    }

    i {
      float: left;
      font-size: $nav-height;
      line-height: $nav-height;
      margin-right: 4px;
    }

    b {
      display: inline-block;
      font-weight: $weight-semi-bold;
      padding-top: 8px;
      white-space: nowrap;
      width: 70%;
    }

    @include breakpoint(sm) {
      align-items: center;
      display: flex;
      font-size: 22px;
      line-height: $nav-height;

      i {
        float: none;
      }

      b {
        padding: 0;
        width: auto;
      }
    }

    @include breakpoint(md) {
      font-size: 24px;
      left: 0;
      padding-right: 0;
      position: relative;
      top: auto;
      transform: translateY(0);
    }
  }
}
