header {
  background: linear-gradient(to bottom, #{transparentize($aqua, 0)} 0%, #{transparentize($aqua, 0)} 75%, #{transparentize($aqua, 1)} 100%);
  height: 100px;
  left: 0;
  padding: 0 $outer-margin;
  position: fixed;
  right: 0;
  z-index: 2;

  .header-content {
    align-items: center;
    display: flex;
    height: 100px;
    justify-content: flex-end;
  }

  .brand {
    @extend .col-xs-8;
    @extend .col-md-5;

    $font-size: 20px;

    font-size: $font-size;
    font-weight: $weight-light;
    height: $nav-height;
    left: 15px;
    line-height: $font-size;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;

    a {
      color: $near-black;
      text-decoration: none;
    }

    .icon-logo {
      float: left;
      font-size: $nav-height;
      line-height: $nav-height;
      position: absolute;
    }

    .company {
      font-weight: $weight-regular;
      padding-top: 8px;
      white-space: nowrap;
    }

    .company,
    .profession {
      display: block;
      padding-left: 64px;
    }

    @include breakpoint(sm) {
      align-items: center;
      display: flex;
      font-size: 24px;
      line-height: $nav-height;

      .icon-logo {
        position: relative;
      }

      .company,
      .profession {
        display: inline-block;
        padding-left: .25em;
        padding-top: 0;
      }
    }

    @include breakpoint(md) {
      font-size: 24px;
      left: 0;
      padding-right: 0;
      position: relative;
      top: auto;
      transform: translateY(0);
    }
  }
}
