.page-home {
  .wide {
    @extend .row;
  }

  .developer,
  .homeowner {
    background: center no-repeat;
    background-size: cover;
    display: inline-block;
    padding-bottom: 50%;
    position: relative;
    width: 50%;

    span {
      color: $near-black;
      font-size: 5vw;
      font-weight: $weight-regular;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate3d(-50%, -50%, 0);
      transition: color 330ms ease-in-out;

      @include breakpoint(lg) {
        font-size: 48px;
      }
    }

    &::before {
      background-color: transparentize($aqua, .3);
      content: '';
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      transition: background-color 330ms ease-in-out;
      width: 100%;
    }

    &:hover::before {
      background-color: transparentize($near-black, .1);
    }

    &:hover span {
      color: $white;
    }
  }

  .developer {
    background-image: url('../assets/images/illus-fp-developer.jpg');

    &::after {
      content: 'developer';
    }
  }

  .homeowner {
    background-image: url('../assets/images/illus-fp-homeowner.jpg');

    &::after {
      content: 'homeowner';
    }
  }
}
