main {
  $padding: 100px;
  padding-top: $padding;

  &.page-home {
    padding-top: 100px !important;
  }

  @include breakpoint(sm) {
    padding-top: $padding + 10px;
  }

  @include breakpoint(md) {
    padding-top: $padding + 20px;
  }

  @include breakpoint(lg) {
    padding-top: $padding + 30px;
  }
}
