.navigation {
  @extend .col-xs-12;
  @extend .col-md-7;

  display: flex;
  font-size: 20px;
  font-weight: $weight-regular;
  height: $nav-height;
  justify-content: flex-end;
  position: relative;
  text-align: right;
  z-index: 1;

  .mobile-nav-trigger {
    @extend .hide-for-md;

    appearance: none;
    background: none;
    border: none;
    font-size: 16px;
    font-weight: $weight-regular;
    height: 100%;
    line-height: 1;
    outline: none;
    padding: 0;
    text-align: right;
    white-space: nowrap;

    i {
      padding-left: 4px;
    }

    @include breakpoint(sm) {
      font-size: 18px;
    }
  }

  ul {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    right: 0;
    top: calc(100% + 5px);
    width: 100%;

    &.open {
      max-height: 7rem;
      opacity: 1;
    }

    &.open,
    &.closing {
      background: transparentize($white, .08);
      border-radius: 4px;
      display: block;
      padding: 8px 0;
      transition: max-height 330ms ease-in-out, opacity 350ms ease-in-out;
    }
  }

  li {
    display: block;
    margin: 0;
  }

  a {
    color: $blue-grey;
    display: block;
    padding: 6px 10px;
    text-decoration: none;
    transition: color 200ms ease-in-out;

    &.active {
      color: $near-black;
    }

    &:hover {
      color: $near-black;
    }
  }

  @include breakpoint(md) {
    display: block;

    ul {
      align-items: center;
      display: flex;
      height: $nav-height;
      justify-content: flex-end;
      max-height: $nav-height;
      opacity: 1;
      position: relative;
      right: auto;
      top: 0;

      &.open,
      &.closing {
        background: transparent;
        padding: 0;
      }
    }

    li {
      display: inline-block;
      height: $nav-height;
      margin: 0 0 0 18px;

      &:first-of-type {
        margin: 0;
      }
    }

    a {
      line-height: $nav-height;
      padding: 0;
    }
  }

  @include breakpoint(lg) {
    font-size: 24px;

    li {
      margin-left: 22px;
    }
  }
}
