html,
body {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400; }

@font-face {
  font-family: 'teepee-icons';
  src: url("./teepee-icons.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'teepee-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-tri::before {
  content: "\e900"; }

.icon-logo-facebook::before {
  content: "\e910"; }

.icon-logo-linkedin::before {
  content: "\e911"; }

.icon-logo-twitter::before {
  content: "\e912"; }

header {
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: space-between; }
  header .logo {
    align-items: center;
    display: flex;
    font-size: 24px;
    font-weight: 300;
    height: 46px; }
    header .logo strong {
      font-weight: 600;
      margin-right: 7px;
      white-space: nowrap; }
    header .logo img {
      display: inline-block;
      height: 100%;
      margin-right: 5px; }
  header nav {
    font-size: 24px;
    font-weight: 600;
    height: 100%;
    text-align: right; }
    header nav ul {
      display: inline-block; }
    header nav li {
      display: inline-block;
      margin: 0 0 0 24px; }
    header nav a {
      color: #7b919a;
      text-decoration: none; }
      header nav a.active {
        color: #091722; }
