@import './colours';
@import './typography';

header {
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: space-between;

  .logo {
    align-items: center;
    display: flex;
    font-size: 24px;
    font-weight: $weight-light;
    height: 46px;
    letter-spacing: -1px;

    strong {
      font-weight: $weight-semi-bold;
      margin-right: 7px;
      white-space: nowrap;
    }

    img {
      display: inline-block;
      height: 100%;
      margin-right: 5px;
    }
  }

  nav {
    font-size: 24px;
    font-weight: $weight-semi-bold;
    height: 100%;
    text-align: right;

    ul {
      display: inline-block;
    }

    li {
      display: inline-block;
      margin: 0 0 0 24px;
    }

    a {
      color: $blue-grey;
      text-decoration: none;

      &.active {
        color: $near-black;
      }
    }
  }
}
